.head{width: 100%; height: 90px;background-color:darkred;color: lightgray;
position:relative;position: absolute; top:0%;left: 0%;text-align: center; font-size: 30px; }
.logo{position: relative;position: absolute;top: 130px;left: 410px;}
.video{position: relative;position: absolute;top: 700px;left: 310px;}
.iframe{position: relative;position: absolute;top: 1150px;}
.ul{position: relative;position: absolute;top: 3200px;}
.Jorginho{font-size: 30px;}
.Jorginho1{position: relative;position: absolute;left: 180px;}
.Trossard{font-size: 30px;}
.Zinchenko{font-size: 30px;}
.Partey{font-size: 30px;}
.Kai {font-size: 30px;}
.Ødegaard{font-size: 30px;}
.Tomiyasu{font-size: 30px;}
.Ben{font-size: 30px;}
.Nketiah{font-size: 30px;}
.Nelson{font-size: 30px;}
.Rice{font-size: 30px;}
.Jesus{font-size: 30px;}
.Rowe{font-size: 30px;}
.Ramsdale{font-size: 30px;}
.Magalhães{font-size: 30px;}
.Karl {font-size: 30px;}
.William {font-size: 30px;}
.Fábio {font-size: 30px;}
.Gabriel{font-size: 30px;}
.Trossard1{position: relative;position: absolute;left: 180px;}
.Zinchenko1{position: relative;position: absolute;left: 180px;}
.Partey1{position: relative;position: absolute;left: 180px;}
.Kai1{position: relative;position: absolute;left: 180px;} 
.Ødegaard1{position: relative;position: absolute;left: 180px;}
.Tomiyasu1{position: relative;position: absolute;left: 180px;}
.Ben1{position: relative;position: absolute;left: 180px;} 
.Nketiah1{position: relative;position: absolute;left: 180px;}
.Nelson1{position: relative;position: absolute;left: 180px;}
.Rice1{position: relative;position: absolute;left: 180px;}
.Jesus1{position: relative;position: absolute;left: 180px;}
.Rowe1{position: relative;position: absolute;left: 180px;}
.Ramsdale1{position: relative;position: absolute;left: 180px;}
.Magalhães1{position: relative;position: absolute;left: 180px;}
.Karl1{position: relative;position: absolute;left: 180px;} 
.William1{position: relative;position: absolute;left: 180px;} 
.Fábio1{position: relative;position: absolute;left: 180px;} 
.Gabriel1{position: relative;position: absolute;left: 180px;} 