.t{background-color:lightslategrey;}
.tt{background-color:antiquewhite;}
.pyramids{width: 30px; position: relative;position: absolute;left: 200px;top: 75px;}
.AlAhly{width: 30px; position: relative;position: absolute;left: 200px;top: 125px;}
.AlMasry{width: 30px; position: relative;position: absolute;left: 200px;top: 185px;}
.ZED{width: 30px; position: relative;position: absolute;left: 200px;top: 240px;}
.ENPPi{width: 30px; position: relative;position: absolute;left: 200px;top: 300px;}
.ModernFuture{width: 30px; position: relative;position: absolute;left: 200px;top: 350px;}
.Smouha{width: 30px; position: relative;position: absolute;left: 200px;top: 400px ;}
.ALiTTihad{width: 30px; position: relative;position: absolute;left: 200px;top: 450px ;}
.CeramicaCleopatra{width: 30px; position: relative;position: absolute;left: 200px;top: 510px ;}
.Zamalek{width: 30px; position: relative;position: absolute;left: 200px;top: 560px ;}
.ElGaish{width: 30px; position: relative;position: absolute;left: 200px;top: 615px ;}
.Ismaily{width: 30px; position: relative;position: absolute;left: 200px;top: 670px;}
.ElGouna{width: 30px; position: relative;position: absolute;left: 200px;top: 720px;}
.NationalBank{width: 30px; position: relative;position: absolute;left: 200px;top: 780px ;}
.Pharco{width: 30px; position: relative;position: absolute;left: 200px;top: 830px;}
.BaladeyetElmahalla{width: 30px; position: relative;position: absolute;left: 200px;top: 880px ;}                          
.ElDakhleya{width: 30px; position: relative;position: absolute;left: 200px;top: 930px ;}
.AlMokawloon{width: 30px; position: relative;position: absolute;left: 200px;top: 990px ;}