.mc{background-color:lightskyblue; width: 100%;height:80px;color: dimgrey ;
position: relative;position: absolute;top: 0%;left: 0%;
font-size: 20px;text-align: center;}
.img{position:relative;position: absolute;right: 400px; top: 100px; }
.video{position:relative;position: absolute; top: 600px;right: 250px; }
.iframe{position: relative;position: absolute;top: 1100px;left: 30px;}
.list{font-size: 35px; position: relative;position: absolute;top: 3200px;}
.e{width: 40px;height: 40px ; position: relative;position: absolute;left:300px;}
.k{width: 40px;height: 40px ; position: relative;position: absolute;left:300px;}
.e{width: 40px;height: 40px ; position: relative;position: absolute;left: 300x;}
.r{width: 40px;height: 40px ; position: relative;position: absolute;left:300px;}
.g{width: 20%;height: 40px;position:relative ;position: absolute;left:600;}
.a{width: 20%;height: 40px;position:relative ;position: absolute;left:300px;}
.ak{width: 20%;height: 40px;position:relative ;position: absolute;left:300px;}
.rodri{width: 20%;height: 40px;position:relative ;position: absolute;left:300px;}
.m{width: 20%;height: 40px;position:relative ;position: absolute;left: 300x;}
.s{width: 20%;height: 40px;position:relative ;position: absolute;left: 300x;}
.j{width: 20%;height: 40px;position:relative ;position: absolute;left: 300x;}
.b{width: 20%;height: 40px;position:relative ;position: absolute;left: 300;}
.f{width: 20%;height: 40px;position:relative ;position: absolute;left: 300;}
.d{width: 20%;height: 40px;position:relative ;position: absolute;left: 300}
.jer{width: 20%;height: 40px;position:relative ;position: absolute;left: 300x;}