.c{width: 35px; position: relative; position: absolute;left: 200px; top: 6%;}
.a{width: 30px; position: relative; position: absolute;left: 200px; top: 15%;}
.l{width: 43px; position: relative;position: absolute;left: 194px;top: 23%;}
.v{width: 30px; position: relative;position: absolute;left: 200px;top: 32%;}
.tottenham{width: 22px; position: relative;position: absolute;left: 200px;top:40%;}
.chelsea{width: 30px; position: relative;position: absolute;left: 200px;top:49%; }
.newcastle{width: 30px; position: relative;position: absolute;left: 200px;top:57%;}
.man{width: 30px; position: relative;position: absolute;left: 200px;top:66%;}
.west{width: 30px; position: relative;position: absolute;left: 200px;top:75%;}
.crystal{width: 30px; position: relative;position: absolute;left: 200px;top:83%;}
.Brighton{width: 30px; position: relative;position: absolute;left: 200px;top:91%;}
.Bournemouth{width: 30px; position: relative;position: absolute;left: 200px;top:100%;}
.fulham{width: 30px; position: relative;position: absolute;left: 200px;top:108%;}
.wolves{width: 30px; position: relative;position: absolute;left: 200px;top:117%;}
.Evertone{width: 30px; position: relative;position: absolute;left: 200px;top:126%;}
.brentford{width: 30px; position: relative;position: absolute;left: 200px;top:134%;}
.Nottm{width: 23px;position: relative relative;position: absolute;left: 200px;top:142%;}
.Luton{width: 30px; position: relative;position: absolute;left: 200px;top:150%;}
.burnley{width: 30px; position: relative;position: absolute;left: 200px;top:159%;}
.sheffield{width: 30px; position: relative;position: absolute;left: 200px;top:168%;}
.color1{background-color:lightslategrey;}
.backgroundcolor{background-color:antiquewhite;}