.AlHilal{width: 30px;position: relative;position: absolute;left: 200px;top: 45px;}
.AlNassr{width: 30px;position: relative;position: absolute;left: 200px;top:100px; }
.AlAhliSaudi{width: 30px;position: relative;position: absolute;left: 200px;top: 150px}
.AlTaawoun{width: 30px;position: relative;position: absolute;left: 200px;top: 210px; }
.AlIttihad{width: 30px;position: relative;position: absolute;left: 200px;top: 260px; }
.AlIttifaq{width: 30px;position: relative;position: absolute;left: 200px;top: 310px; }
.AlFateh{width: 30px;position: relative;position: absolute;left: 200px;top: 365px; }
.AlShabab{width: 30px;position: relative;position: absolute;left: 200px;top: 420px;}
.AlFayha{width: 30px;position: relative;position: absolute;left: 200px;top: 480px; }
.Damac{width: 30px;position: relative;position: absolute;left: 200px;top: 530px; }
.AlKhaleej{width: 30px;position: relative;position: absolute;left: 200px;top: 585px; }
.AlRaed{width: 30px;position: relative;position: absolute;left: 200px;top: 640px; }
.AlWehda{width: 30px;position: relative;position: absolute;left: 200px;top: 690px; }
.AlRiyadh{width: 30px;position: relative;position: absolute;left: 200px;top: 750px; }
.AlAkhdoud{width: 30px;position: relative;position: absolute;left: 200px;top: 800px; }
.Abha{width: 30px;position: relative;position: absolute;left: 200px;top: 855px; }
.AlTai{width: 30px;position: relative;position: absolute;left: 200px;top: 905px; }
.AlHazm{width: 30px;position: relative;position: absolute;left: 200px;top: 960px; }
.color{background-color:lightslategrey;}
.color2{background-color:antiquewhite;}
